#video {
  background: #000 url(../../static/img/videobg.jpg) no-repeat center;
  background-size: cover;
}
.package-title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.package-price {
  font-size: 3.157em;
}
.package-price span {
  font-size: 22px;
  position: relative;
  top: -15px;
}

.package-price strong {
  font-size: 18px;
  font-weight: 500;
  margin-left: -5px;
  font-family: 'Roboto', sans-serif;
}

.package .card-body p {
  font-size: 1.5rem;
}

.subscribe {
  padding: 2rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  color: #3c2f2f;
  letter-spacing: 2px;
  line-height: 0;
  border-color: transparent !important;
  cursor: pointer;
}

.subscribe:hover {
  border-color: transparent !important;
  cursor: pointer;
}

.modal-body {
  height: 550px;
}

#customer-reviews {
  padding: 100px 0;
  background-image: url(https://res.cloudinary.com/eagle-crane-co/image/upload/v1553137952/eagleandcrane/reviewbg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-next {
  background: url(../../static/img/002-next.svg) no-repeat center center;
  background-size: cover;
  outline: none;
}

.swiper-button-prev {
  background: url(../../static/img/001-back.svg) no-repeat center center;
  background-size: cover;
  outline: none;
}

.review-body {
  padding: 0 2rem;
}

.review-body h5 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.45;
  color: #fff;
}

.review-author li {
  margin: 0.2rem;
}

.blog-list-title a {
  color: #3c2f2f;
}
.blog-created li img{
  margin-top: -2px;
}

#newsletter {
  padding: 150px 0;
  background-image: url(https://res.cloudinary.com/eagle-crane-co/image/upload/v1553137128/eagleandcrane/newsletterbg.jpg);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}
.meetbg {
  position: relative;
  height: 800px;
  max-height: 100vw;
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#meet .content {
  padding: 90px 0;
}

.what-we-do-bg {
  position: relative;
  height: 800px;
  max-height: 100vw;
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#what-we-do .content {
  padding: 90px 0;
}
#newsletter .content {
  padding: 8rem 3rem;
}
.form-newsletter input {
  border-radius: 0;
  height: 60px;
  outline: none;
  border-color: #e9ecef;
}
.form-newsletter input:focus {
  box-shadow: 0 0 0 0.2rem rgba(227, 75, 66, 0.25);
}

.form-newsletter button {
  border-radius: 0;
  height: 65px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff !important;
  background-color: #df433a !important;
  border-radius: 0px;
  letter-spacing: 2px;
  padding: 0rem 3rem;
  outline: none;
  border: none;
}

.close {
  color:#fff !important;
  font-weight: 400;
  font-size: 2rem;
  outline: none;
}
.steps li {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .review-body {
    padding: 0 5rem;
  }
}

@media (min-width: 992px) {
  #meet .content {
    padding: 190px 0 190px 50px;
  }
  #what-we-do .content {
    padding: 190px 50px 190px 0px;
  }
  .meetbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-position: center;
  }
  .what-we-do-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-position: center; 
  }

}

@media (min-width: 1200px) {
  .package {
    padding: 5rem;
  }
  #video {
    padding: 200px 0;
  }
  .modal-xxl {
    max-width: 1420px;
  }
}
