.menu-container {
  padding: 3rem 0;
  transition: 400ms ease-in-out;
}

.is-sticky .menu-container {
  padding: 1rem 0;
  background-color: #111111;
  z-index: 1 !important;
}

.navigation {
  padding: 3rem 2.5rem 2rem 2.5rem;
}

.navigation .main-nav li a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #3c2f2f;
  padding: 5px;
}

.navigation .nav-brand-side {
  display: none;
  padding: 25px;
  margin-bottom: 10px;
}

.fs-navigation-overlay-nav.fs-navigation-enabled .main-nav li a {
  display: block;
  font-size: 18px;
  padding: 10px 0;
}

.navigation .nav-brand-side {
  display: none;
}

.fs-navigation-overlay-nav.fs-navigation-open .nav-brand-side,
.fs-navigation-push-nav.fs-navigation-open .nav-brand-side {
  display: block;
}

.fs-navigation,
.fs-navigation *,
.fs-navigation :after,
.fs-navigation :before,
.fs-navigation:after,
.fs-navigation:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: none;
  transition: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.fs-navigation-toggle-nav.fs-navigation-enabled {
  display: none;
}

.fs-navigation-toggle-nav.fs-navigation-open {
  display: block;
}

.fs-navigation-toggle-handle.fs-navigation-enabled {
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  display: block;
}

.fs-navigation-overlay-nav.fs-navigation-enabled,
.fs-navigation-push-nav.fs-navigation-enabled,
.fs-navigation-reveal-nav.fs-navigation-enabled {
  width: 300px;
  height: 100%;
  height: calc(100% + 60px);
  position: fixed;
  top: 0;
  background: #fff;
  display: block !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.fs-navigation-push-nav.fs-navigation-enabled,
.fs-navigation-reveal-nav.fs-navigation-enabled {
  visibility: hidden;
}

.fs-navigation-reveal-nav.fs-navigation-animated {
  -webkit-transition: visibility 1ms linear 0.2s;
  transition: visibility 1ms linear 0.2s;
}

.fs-navigation-overlay-nav.fs-navigation-animated,
.fs-navigation-push-nav.fs-navigation-animated {
  -webkit-transition: visibility 1ms linear 0.2s, -webkit-transform 0.2s ease;
  transition: visibility 1ms linear 0.2s, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, visibility 1ms linear 0.2s;
  transition: transform 0.2s ease, visibility 1ms linear 0.2s,
    -webkit-transform 0.2s ease;
}

.fs-navigation-push-nav.fs-navigation-enabled,
.fs-navigation-reveal-nav.fs-navigation-enabled {
  z-index: 0;
}

.fs-navigation-overlay-left-nav.fs-navigation-enabled,
.fs-navigation-push-left-nav.fs-navigation-enabled,
.fs-navigation-reveal-left-nav.fs-navigation-enabled {
  left: 0;
}

.fs-navigation-overlay-right-nav.fs-navigation-enabled,
.fs-navigation-push-right-nav.fs-navigation-enabled,
.fs-navigation-reveal-right-nav.fs-navigation-enabled {
  right: 0;
}

.fs-navigation-overlay-left-nav.fs-navigation-enabled,
.fs-navigation-push-left-nav.fs-navigation-enabled {
  -webkit-transform: translate3D(-300px, 0, 0);
  transform: translate3D(-300px, 0, 0);
}

.fs-navigation-overlay-right-nav.fs-navigation-enabled,
.fs-navigation-push-right-nav.fs-navigation-enabled {
  -webkit-transform: translate3D(300px, 0, 0);
  transform: translate3D(300px, 0, 0);
}

.fs-navigation-overlay-nav.fs-navigation-enabled {
  z-index: 3;
}

.fs-navigation-reveal-nav.fs-navigation-open {
  visibility: visible;
  -webkit-transition: visibility 1ms ease;
  transition: visibility 1ms ease;
}

.fs-navigation-overlay-nav.fs-navigation-open,
.fs-navigation-push-nav.fs-navigation-open {
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: visibility 1ms ease, -webkit-transform 0.2s ease;
  transition: visibility 1ms ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, visibility 1ms ease;
  transition: transform 0.2s ease, visibility 1ms ease,
    -webkit-transform 0.2s ease;
  visibility: visible;
}

.fs-navigation-overlay-handle.fs-navigation-enabled,
.fs-navigation-push-handle.fs-navigation-enabled {
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
}

.fs-navigation-overlay-content:before {
  width: 100%;
  height: 100%;
  height: calc(100% + 60px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  visibility: hidden;
}

.fs-navigation-overlay-content.fs-navigation-open:before {
  opacity: 1;
  visibility: visible;
}

.fs-navigation-push-content.fs-navigation-enabled,
.fs-navigation-reveal-content.fs-navigation-enabled {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.fs-navigation-push-content.fs-navigation-animated,
.fs-navigation-reveal-content.fs-navigation-animated {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.fs-navigation-push-left-content.fs-navigation-open,
.fs-navigation-reveal-left-content.fs-navigation-open {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

.fs-navigation-push-right-content.fs-navigation-open,
.fs-navigation-reveal-right-content.fs-navigation-open {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.fs-navigation-handle.fs-navigation-enabled {
  border: none;
  padding: 0;
  outline: none;
  line-height: 0;
}

.fs-navigation-lock {
  overflow: hidden !important;
}

.fs-navigation-overlay-nav.fs-navigation-open .main-nav,
.fs-navigation-push-nav.fs-navigation-open .main-nav {
  display: block !important;
}
